:root{
    --color-dark: #000;
    --primary-light: rgba(255, 145, 10, 0.4);
    --primary-dark: #ff910a;
    --primary-light-dark: rgba(255, 145, 10, .5);
    --color-grey: #ededed;
    --color-white: #fff;
}

ul{
    list-style: none;
}
a:link, a:visited{
    text-decoration: none;
}

.d-flex{
    display: flex;
}
.f-wrap-wrap{
    flex-wrap: wrap;
}
.flex-direction-column{
    flex-direction: column;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.mb-20{
    margin-bottom: 20px;
}